/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  padding: 40px;
}
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.title-wrapper {
  text-align: center;
  position: relative;
}

.title {
  font-size: 24px;
  height: 48px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}

.ticket-action {
  display: flex;
  margin-bottom: 20px;
}

.ticket-card {
  max-width: 740px;
  margin: auto;
  margin-top: 20px;
}


.assignee-section {
  flex: 1;
  font-weight: bold;
}

.assignee-section div {
  font-weight: 500;
  color: black;
}

.assignee-user {
  display: flex;
  align-items: center;
}
.assignee-user div {
  margin-left: 12px;
}

.user-select label {
  margin-bottom: 8px;
}
.modal-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
}

.modal-footer {
  display: flex;
  margin-top: 20px;
  align-items: flex-end;
  justify-content: flex-end;
}
.cancel-btn {
  margin-right: 12px;
}

.submit-btn {
  min-width: 100px;
}

.back-btn {
  position: absolute;
  left: 2px;
  top: 10px;
}
