.app {
  padding: 10px;
}

.app-name-wrapper {
  text-align: center;
}
.app-name {
  font-size: 36px;
  height: 58px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}
